{{define "title"}} ブックマーク太郎 {{end}}

{{define "body"}}
<h1> ブックマーク</h1>

{{if .msg}}
    <div id="error">
        <p>{{.msg}}}</p>
    </div>
{{end}}

<div id="user_info">
    {{if .User}}
        <div id="user_name">
           {{.User.Name}}太郎さんこんにちは <br>
            <a href="/bookmark/add"> ブックマークしたい!! </a> <br>
            <a href="/logout">ログアウト!!</a>
        </div>
    {{else}}
        <a href="/signup"> ユーザー登録 </a>
        <a href="/signin">入場 </a>
    {{end}}
    </div>

<div id="entry_lists">
    {{if .Entries}}
        {{range .Entries}}
            <p>{{.Count}} Bookmark:: <a href="/entry/{{.Entry.ID}}"> {{.Entry.Title}}</a> </p>
        {{end}}
    {{end}}
</div>
{{end}}
