{{define "title"}} ブックマーク太郎 {{end}}

{{define "body"}}
<h1> ブックマーク</h1>

    <div id = "user_info">
    {{if .User}}
        <div id="user_name">
           {{.User.Name}}太郎さんこんにちは
        </div>
    {{else}}
        <a href="/signup"> ユーザー登録 </a>
    {{end}}
    </div>
{{end}}
