{{define "title"}} 太郎入室 {{end}}

{{define "body"}}
    <h1> 太郎入室 </h1>

    <div id="signin_form">
        <form action="signin" method="post">
            <div> 名前 <input type="text" name="name">  </div>
            <div> パスワード <input type="password" name="password">  </div>
            <input type="submit" value="はい">
        </form>
    </div>
{{end}}
